<h1>Tickets</h1>

<div class="row">
  <div class="span12">
    <p class="pull-right"><%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %></p>
  </div>
</div>

<div id="tickets">
  <h2>In Progress</h2>
  <div id="in-progress">
    <%= render 'tickets', tickets: @in_progress_tickets %>
  </div>

  <h2>Backlog</h2>
  <div id="backlog">
    <%= render 'tickets', tickets: @backlog_tickets %>
  </div>

  <h2>Completed</h2>
  <div id="completed">
    <%= render 'tickets', tickets: @completed_tickets %>
  </div>
</div>
